body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin: 30px 0;
    font-size: 2em;
    font-weight: bold;
    color: purple;
}

form {
    margin: 30px 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid rgb(242, 4, 242);
    border-radius: 15px;
    background-color: black;
    color: violet;
    outline: none;
}

button[type="submit"] {
    width: 20%;
    background-color: purple;
    color: white;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

button[type="submit"]:hover {
    background-color: rgba(128, 0, 128, 0.705);
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 4px solid purple;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

li span {
    color: turquoise;
    font-weight: bold;
}

li span.completed {
    text-decoration: line-through;
    color: yellowgreen;
}

li a {
    float: right;
    margin-left: 10px;
    text-decoration: none;
    transition: transform 0.3s ease;
}   

li a:hover {
    transform: scale(1.05);
   
}   

hr {
    margin: 20px 0;
}   

.completed {
    /* text-decoration: line-through; */
    color: #FFD700;
    background-color: #C8A2C8;
}   

.completed:hover {
    color: #008080;
    text-decoration: none;
    color: #FFD700;    
}